body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: "Oxygen", sans-serif;
}

/** nav bar **/
#navbarHeader {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.brandLogo {
  width: 150px;
  height: 150px;
}

#restaurantName a {
  font-family: "Lora", serif;
  color: #557c3e;
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: 0.75;
}

.navbarSupportedContent .nav-item span {
  color: #000;
  font-size: 0.8em;
  margin-top: 15px;
}

#nav-list a {
  color: #951c49;
  text-align: center;
}

#nav-list a:hover {
  background: #e7e7e7;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons-outlined.md-36 {
  font-size: 36px;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0px;
}

#phone div {
  color: #557c3e;
  text-align: right;
  padding-right: 10px;
}

 .container-fluid button.navbar-toggler {
  border: 1px solid #61122f;
}

/*end of navigation bar*/